.board {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
}

.cell {
    background-color: lightskyblue;
    border: 2px solid white;
    transition: opacity 0.3s;
}

.cell:hover {
    opacity: 0.7;
}

.highlight {
    background-color: lightgreen;
}