.board {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
}

.cell {
    background-color: lightskyblue;
    border: 2px solid white;
}

.cell:hover {
    background-color: lightblue;
}

.highlight {
    background-color: lightgreen;
}